$text-color-primary: #1a2f33;
$text-color-secondary: #dedede;
$color-primary: hsl(150, 50%, 30%);
$color-recipe: hsl(2, 100%, 59%);
$color-article: #f39c12;
$color-blog: #3498db;
$bg-overlay: linear-gradient(
  180deg,
  rgba(4, 25, 29, 0.7) 0%,
  rgba(19, 29, 31, 0.7) 20%
);
$hero-gradient: linear-gradient(
  90deg,
  rgba(19, 35, 37, 1) 0%,
  rgba(255, 255, 255, 0.073564459963673) 100%
);
$modal-bg: #f2f6f7;
$nav-bg: #fbfefd;

$off-white: #fcfcfc;
$content-border: #fff;
