$text-color-primary: #1a2f33;
$text-color-secondary: #dedede;
$color-primary: hsl(150, 50%, 30%);
$color-recipe: hsl(2, 100%, 59%);
$color-article: #f39c12;
$modal-bg: #f2f6f7;
$nav-bg: #fbfefd;
$placeholder-color: #777777;
$off-white: #fcfcfc;
$content-border: #fff;
