.nav {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 13vh;
  width: 100%;
  padding: 0 8rem;

  @media only screen and (max-width: 56.25em) {
    & {
      background: $color-primary;
      padding: 0 2rem;
    }
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;
    color: $color-recipe;
    @media only screen and (max-width: 56.25em) {
      & {
        color: $off-white;
      }
    }
  }
  &__menu {
    padding: 2rem;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    @media only screen and (max-width: 56.25em) {
      & {
        text-align: center;
        justify-content: space-around;
        position: fixed;
        top: 10vh;
        left: -100%;
        width: 100%;
        height: 80vh;
        background: #fbfefd;
        margin-top: 2rem;
      }
    }
  }
  &__list {
    transition: all 0.2s;
    display: flex;
    @media only screen and (max-width: 56.25em) {
      & {
        flex-direction: column;
      }
    }
  }
  &__item {
    list-style: none;
    text-align: center;
  }
  &__link {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.6rem 3rem;
    display: inline-block;
    font-weight: 400;

    &:hover {
      background: $text-color-primary;
      color: $off-white;
    }
  }
  &__toggle {
    display: none;
    @media only screen and (max-width: 900px) {
      & {
        display: block;
      }
    }
  }
  &__icon {
    font-size: 2.5rem;
    text-align: center;
    color: $text-color-secondary;
  }
}
.show-menu {
  left: 0;
}
