.nav {
  background-color: $nav-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 8rem;

  @media only screen and (max-width: 56.25em) {
    background: $color-primary;
    padding: 2rem;
  }
  @include respond(phone) {
    background: $color-primary;
    padding: 2rem;
    position: fixed;
    z-index: 1000;
  }

  &__logo {
    font-size: 3rem;
    font-weight: 700;
    color: $color-recipe;
    @media only screen and (max-width: 56.25em) {
      & {
        color: $off-white;
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 90vh;
    background: #fbfefd;
    transition: all 1s;
    z-index: 100;

    @media only screen and (min-width: 56.25em) {
      position: static;
      width: auto;
      height: auto;
      background: none;
      align-items: center;
      padding: 0;
    }
  }
  &__list {
    transition: all 0.2s;
    display: flex;
    @media only screen and (max-width: 56.25em) {
      & {
        flex-direction: column;
      }
    }
  }
  &__item {
    list-style: none;
    text-align: center;
    @include respond(tab-port) {
      margin-top: 3rem;
    }
  }
  &__link {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.6rem 3rem;
    display: inline-block;
    font-weight: 400;
    transition: cubic-bezier(1, 0, 0, 1);
    @include respond(tab-port) {
      font-size: 2.5rem;
    }

    &:hover,
    &:active,
    &:focus-within {
      background: $text-color-primary;
      color: $off-white;
    }
  }
  &__toggle {
    display: none;
    @include respond(tab-port) {
      display: block;
    }
  }
  &__icon {
    font-size: 3rem;
    text-align: center;
    color: $text-color-secondary;
  }
}
.show-menu {
  left: 0;
}
.nav__active-link {
  background: $text-color-primary;
  color: $off-white;
}
